<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<main>
			<div>
				<h1>{{ todo_list.name }}</h1>
				<a href="{% url 'todo_list_update' todo_list.id %}">Edit</a>
				<a href="{% url 'todo_list_delete' todo_list.id %}">Delete</a>
				<h2>Tasks</h2>
				<table>
					<thead>
						<th>Task</th>
						<th>Due date</th>
					</thead>
					<tbody>
						{% for step in todo_list.items.all %}
						<tr>
							<td>
								<a href="{% url 'todo_item_update' step.id %}"
									>{{ step.task }}</a
								>
							</td>
							<td>{{ step.due_date }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</main>
	</body>
</html>
